* {
    font-family: Montserrat;
    margin: 0px;
    padding: 0px;
}

header {
    background: rgb(255, 187, 0);
    height: 150px;
    width: 100%;
    outline: 2px solid #000;
}

header h1 {
    font-size: 70px;
}

body {
    background: white;

}

h1 {
    font: 40px;
}

h3 {
    margin-left: 45px;
    margin-bottom: -1%;
}

footer {
    background: rgb(221, 221, 221);
    height: 150px;
    width: 100%;
    color: black;
    outline: 2px solid #000;
}

footer p {
    font-size: 30px;
}
.navigbt {
    background-color: rgb(255, 187, 0);
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
}

.navig {
    position: relative;
    display: inline-block;
    margin-left: 80%;
}

.navig-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
}

.navig-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navig-content a:hover {
    background-color: #ddd;
    transition: 0.7s;
}

.navig:hover .navig-content {
    display: block;
    transition: 0.7s;
}

.navig:hover .navigbt {
    background-color: rgb(255, 145, 0);
    transition: 0.7s;
}

.whtanime {
    line-height: 2;
}

.whtanime h1 {
    margin-top: 20px;
    margin-left: 20px;
}

.whtanime p {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-indent: 25px;
}

a {
    position: relative;
	color: rgb(255, 187, 0); 
	cursor: pointer;
	line-height: 1;
	text-decoration: none; 
}

a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: rgb(255, 187, 0);
	content: "";
	transition: width 0.3s ease-out;
}

a:hover:after,
a:focus:after {
	width: 100%;
}

.kimetsu {
    float: right;
    max-width: 30%;
    max-height: 30%;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: -8%;
}

.kimetsu p {
    float: right;
    text-align: center;
    font-size: 90%;
    text-indent: 0;
    max-width: 70%;
    max-height: 70%;
    margin-top: 0;
    line-height: 1.5;
    color: rgb(85, 85, 85);
}

.kimetsu img {
    float: right;
    width: 70%;
    height: 70%;
}

.history {
    line-height: 2;
}

.history h1 {
    margin-top: 20px;
    margin-left: 20px;
}

.history p {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-indent: 25px;
}

.akira {
    float: left;
    max-width: 30%;
    max-height: 30%;
    margin-right: 5%;
}


.akira img {
    float: left;
    width: 100%;
    height: 100%;
    margin-left: 25px;
    margin-bottom: 0;
}

.akira p {
    float: left;
    font-size: 90%;
    text-align: center;
    margin-top: 0;
    max-width: 100%;
    max-height: 100%;
    line-height: 1.5;
    color: rgb(85, 85, 85);
}

.series {
    line-height: 2;
}

.series h1 {
    margin-top: 20px;
    margin-left: 20px;
}

.series p {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-indent: 25px;
    margin-right: 20px;
}

.op iframe {
    float: right;
    width: 500px;
    height: 300px;
    margin-right: 20px;
    margin-top: 20px;
}

.end iframe {
    float: left;
    width: 500px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.form {
    line-height: 2;
}

.form h1 {
    margin-top: 20px;
    margin-left: 20px;
}

.form p {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-indent: 25px;
}

.pkmn {
    float: right;
    max-width: 30%;
    max-height: 30%;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: -8%;
}

.pkmn p {
    float: right;
    text-align: center;
    font-size: 90%;
    text-indent: 0;
    max-width: 70%;
    max-height: 70%;
    margin-top: 0;
    line-height: 1.5;
    color: rgb(85, 85, 85);
}

.pkmn img {
    float: right;
    width: 70%;
    height: 70%;
}

.nrto {
    float: left;
    max-width: 40%;
    max-height: 40%;
    margin-right: 5%;
}


.nrto img {
    float: left;
    width: 100%;
    height: 100%;
    margin-left: 25px;
    margin-bottom: 0;
}

.nrto p {
    float: left;
    font-size: 90%;
    text-align: center;
    margin-top: 0;
    max-width: 100%;
    max-height: 100%;
    line-height: 1.5;
    color: rgb(85, 85, 85);
}